<!DOCTYPE html>
<html lang="en">

<head>
    <title>Trip Keeper</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta name="description"
        content="TripKeeper - An expense management system for tracking and managing trip expenses for both individuals and groups.">
    <link rel="shortcut icon" href="favicon.ico">

    <script defer src="{{BASE_URL}}/plugins/fontawesome/js/all.min.js"></script>
    <link id="theme-style" rel="stylesheet" href="{{BASE_URL}}/css/portal.css">

</head>

<body class="app">
    {{{body}}}l̥
</body>

</html>